@import "popup";

.inner-list {
    border-top: 1px solid #ccc;
    padding-top: 4px;
    margin-top: 6px;

    > div {
        margin: 2px 0;
    }
}

.fixed-height {
    min-height: 24px;
    display: flex;
    align-items: center;
}