.hidden {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

button {
    cursor: pointer;
}

.btn-icon {
    height: 21px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.declarations {
    th, td {
        padding: 5px;
        font-size: 14px;
    }

    th {
        white-space: nowrap;
    }

    td {
        vertical-align: top;
    }

    .sort-none {
        opacity: 0.2;
    }

    [data-name] {
        white-space: nowrap;
    }
}